step 1:import biblio

In [8]:
import pandas as pd

df = pd.read_csv("../spotify_by_year.csv")

Step 2:Inspect the problems

In [9]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               10 non-null     int64
 1   Spotify_Revenue_EUR_Billion        10 non-null     object
 2   Top_Artist                         10 non-null     object
 3   Top_Artist_Yearly_Streams_Billion  10 non-null     float64
 4   Most_Popular_Song                  10 non-null     object
 5   Song_Streams_Estimate              9 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

,Year,Spotify_Revenue_EUR_Billion,Top_Artist,Top_Artist_Yearly_Streams_Billion,Most_Popular_Song,Song_Streams_Estimate
0,2016,2.95,Drake,4.7,One Dance,3.80
1,2017,4.09,Ed Sheeran,6.3,Shape of You,4.30
2,2018,5.26,Drake,8.2,God’s Plan,0.92
3,2019,6.76,Post Malone,6.5,Old Town Road,1.00
4,2020,7.88,Bad Bunny,8.3,The Box,0.92

Step 3:Clean numeric columns properly

In [10]:
df['Spotify_Revenue_EUR_Billion'] = (
    df['Spotify_Revenue_EUR_Billion']
    .astype(str)
    .str.replace(r"[^\d.]", "", regex=True)
    .astype(float)
)

df['Song_Streams_Estimate'] = pd.to_numeric(
    df['Song_Streams_Estimate'],
    errors='coerce'
)

df['Top_Artist_Yearly_Streams_Billion'] = pd.to_numeric(
    df['Top_Artist_Yearly_Streams_Billion'],
    errors='coerce'
)

df['Year'] = df['Year'].astype(int)

Step 4:Clean text columns

In [11]:
text_cols = ['Top_Artist', 'Most_Popular_Song']

for col in text_cols:
    df[col] = df[col].str.strip()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               10 non-null     int64
 1   Spotify_Revenue_EUR_Billion        10 non-null     float64
 2   Top_Artist                         10 non-null     object
 3   Top_Artist_Yearly_Streams_Billion  10 non-null     float64
 4   Most_Popular_Song                  10 non-null     object
 5   Song_Streams_Estimate              9 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 612.0+ bytes

Step 5:Add a column explaining estimates

In [12]:
df

,Year,Spotify_Revenue_EUR_Billion,Top_Artist,Top_Artist_Yearly_Streams_Billion,Most_Popular_Song,Song_Streams_Estimate
0,2016,2.95,Drake,4.7,One Dance,3.80
1,2017,4.09,Ed Sheeran,6.3,Shape of You,4.30
2,2018,5.26,Drake,8.2,God’s Plan,0.92
3,2019,6.76,Post Malone,6.5,Old Town Road,1.00
4,2020,7.88,Bad Bunny,8.3,The Box,0.92
5,2021,9.67,Bad Bunny,9.1,Levitating,0.63
6,2022,11.72,Bad Bunny,18.5,As It Was,1.50
7,2023,13.24,Taylor Swift,26.1,Flowers,1.60
8,2024,15.67,Taylor Swift,26.6,BIRDS OF A FEATHER,2.13
9,2025,17.20,Taylor Swift,28.2,(Data Approx),NaN

Step 6:Export clean CSV

In [13]:
df.to_csv("../cleaned/spotify_revenue_clean.csv", index=False)